body{
	margin:0;
	padding: 0;
	font-family: arial;
	font-weight: 300;
	background-color: #3f5185;
	color: #fff;
}
.center{
	text-align: center;
}
.parallax-target{
	min-height:700px;
	background: transparent;
}
.middle{
	min-height:400px;
}